################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Doble Autenticacion NET/Doble Autenticacion NET/Doble Autenticacion NET
/Doble Autenticacion NET/Doble Autenticacion NET/packages
