@model Doble_Autenticacion_NET.Models.LoginUsuario

@{
    ViewBag.Title = "Login";
}

<div class="container-fluid col-lg">
    <div class="form-bg center-block">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <div class="form-container">
                        @using (Html.BeginForm("Login", "Autenticador", FormMethod.Post, new { @class= "form-horizontal" }))
                        {
                            <h3 class="title">Login </h3>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-user"></i></span>
                                @Html.TextBoxFor(model => model.usuario, new { @class = "form-control", @placeholder = "Usuario", @type = "email" })
                            </div>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-lock"></i></span>
                                @Html.PasswordFor(model => model.contrasena, new { @class="form-control", @placeholder = "Contraseña" })
                            </div>
                            <button class=" center-block btn signin">Log in</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Styles.Render("~/Content/Login")